{% load static %}{% load humanize %}<!doctype html>
<html lang="en">
<head>
    <meta property="og:title" content="{{SITE_NAME}}">
    <meta property="og:site_name" content="{{SITE_NAME}}">
    <link rel="stylesheet" type="text/css" href="{% static 'news.css'%}" />
    <link rel="icon" type="image/png" sizes="144x144" href="{% static 'icon.png' %}" />

    <title>{% block title %}{% endblock title %}{{SITE_NAME}}</title>
</head>


<body>
    <main id="pnmain">
        <nav id="top-bar">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px"><a href={% url 'index' %}><img alt="NYU Icon" src="{% static 'icon.png' %}" width="18" height="18" style="border:1px white solid; background-color: white;"></a></td>
                        <td style="line-height:12pt; height:10px;">
                            <span class="pagetop">
                            <b class="pnname">

                            <a href="{% url 'index' %}">{{SITE_NAME}}</a></b>
                            {% url 'newest' as url %}
                            <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>new</a>
                            <!-- | {% url 'threads' as url %} -->
                            <!-- <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>threads</a> -->
                            <!-- | {% url 'comments' as url %} -->
                            <!-- <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>comments</a> -->
                            <!-- | {% url 'ask' as url %}
                            <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>ask</a>
                            | {% url 'show' as url %}
                            <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>show</a> -->
                            {% url 'submit' as url %}
                            | <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>submit</a>
                            </span></td>
                        <td style="text-align:right;padding-right:4px;">
                        <span class="pagetop">
                            {% if user.is_authenticated %}
                            {% url 'accounts_my_profile' as url %}
                            <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>{{user}}</a> ({{user.karma}}) 
                            | <form method="POST" action="{% url 'logout' %}" class="logout-form">{% csrf_token %}&nbsp;<button class="logout-button">logout</button></form>
                            {% else %}
                            {% url 'login' as url %}
                            <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>login</a>
                            {% url 'accounts_register' as url %}
                            | <a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>register</a>
                            {% endif %}
                        </span></td>
                    </tr>
                </tbody>
            </table>
        </nav>

{% block content %}{% endblock content %}


        <nav id="footer-bar">
            <p class="smaller">{{SITE_NAME}} is a community created by NYU students as a senior design project. This community is not officially affiliated with New York University.</p>
        </nav>
    </main>
<script type="text/javascript" src="{% static 'news.js'%}"></script>
</body>
</html>